h1 {
  align-self: center;
  flex-grow: 1;
  justify-self: center;
  /* padding-left: 200px; */
  text-align: center;
  padding-right: 300px;
}

.header {
  background-color: #cc1c00;
  min-height: 100px;
  color: white;
  display: flex;
}

.icon {
  max-height: 100px;
  width: 300px;
}
