h1 {
  align-self: center;
  flex-grow: 1;
  justify-self: center;
  padding-left: 200px;
}

.header {
  background-color: #cc1c00;
  min-height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  max-height: 100px;
  width: 300px;
}
